{% extends "layout.html" %}
{% block content %} 
  <body>

    <header>
      <div class="container">
        <div id="brandname">
          Social Media Scanner
        </div>
        <h3>Hate Speech Detector</h3>
      
      </div>
    </header>

    <div class="ml-container">

      <form action="{{ url_for('predict')}}" method="POST">
        <p>Enter The Text Here</p>
      <!-- <input type="text" name="comment"/> -->
      <textarea name="message" rows="6" cols="70"></textarea>
      <br/>

      <input type="submit" class="btn-info" value="predict">
      
    </form>
      
    </div>

  </body>
  <br>
  <img width="500" alt="scanner" src="https://user-images.githubusercontent.com/69633814/101637252-ce5b6400-3a2c-11eb-8642-0c18f08d9190.png">

{% endblock content %}