{% extends "layout.html" %}
{% block content %}
	 <body>

		<header>
			<div class="container">
				<div id="brandname">
					Social Media Scanner
				</div>
				<h3>Hate Speech Detector</h3>
			
			</div>
		</header>

		<div class="ml-container">

			<form action="{{ url_for('predict')}}" method="POST">
				
			<!-- <input type="text" name="comment"/> -->
			<textarea name="message" rows="8" cols="70" placeholder="Enter Text Here" required="required" ></textarea>
			<br/>

			<input type="submit" class="btn-info" value="predict">
			
		</form>
			
		</div>

	</body>
  <br>
  <img width="500" alt="scanner" src="https://user-images.githubusercontent.com/69633814/101639973-3bbcc400-3a30-11eb-8a7a-1cfbfcc7302e.gif">
 

{% endblock content %}

 

