{% extends "layout.html" %}
{% block content %}
	 <body>

		<header>
			<div class="container">
				<div id="brandname">
					<h3>Hate Speech Detector</h3>
				</div>
				
			
			</div>
		</header>

		<div class="ml-container">

			<form action="{{ url_for('predict')}}" method="POST">
				
			<!-- <input type="text" name="comment"/> -->
			<textarea name="message" rows="5" cols="70" placeholder="Enter Text Here" required="required" ></textarea>
			<br/>

			<input type="submit" class="btn-info" value="predict">
			
		</form>
			
		</div>

	</body>
  <br>
  <img width="700" alt="scanner" src="https://user-images.githubusercontent.com/69633814/101667625-d973bb80-3a4f-11eb-88bf-3c7e8102a50e.gif">
 

{% endblock content %}

 

